.dark{
    background-color: #222;
    color: #e6e6e6;
    height: 100%;
}
header{
    display: flex;
    justify-content: space-around;
}
.light{
    background-color: #fff;
    color: black;
    height: 100%;
}
button{
    height: 6%;
    margin-top: 3%;
}